* {
    box-sizing: border-box;
    margin: 0px;
}


nav {
    background-color:#1CD1B0;

}

.desc {
    font-size: 15px;
    padding: 0px;
}

header{
    background-color:#00669F;
    
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0px 4px 20px black;
    padding: 20px;
}

.card1{
    position: relative;
    margin: 100px 15px 60px 15px;
    
    
}

.batman {
    border-radius: 100px;
    position: absolute;
    top: 120px;
    left: 85px;
    z-index: 9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cont-gris {
    background-color: #F3F3F3;
    width: 300px;
    height: 336px;
    position: absolute;
    top: 193px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



div div h3 {
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 60px;
    left: 80px;
    
}


button {
    background-color: #00669F;
    color: white;
    width: 128px;
    height: 48px;
    padding: 15px;

}

main div .cont-gris p {
    position: absolute;
    top: 80px;
    margin: 29px;
    font-size: 16px;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justi;
}

button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-align: center;
    position: absolute;
    top: 270px;
    left: 85px;
}

.card1 .corazon {
    position: absolute;
    top: 20px;
    left: 19px;
    
}


/* Harley Quinn Card */


.card2 {
    position: relative;
    top: -257px;
    left: 350px;
}

.harley {
    border-radius: 100px;
    position: absolute;
    top: 120px;
    left: 85px;
    z-index: 9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div div .hq{
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 60px;
    left: 45px;
    
    
}
.card2 .corazonh {
    position: absolute;
    top: 20px;
    left: 19px;
    
}

/* Card  Joker*/

.card3 {
    position: relative;
    top: -454px;
    left: 700px;
    
}

.card3 .haha {
    border-radius: 20px 20px 0px 0px;
    max-width: 300px;
    
}

.joker {
    border-radius: 3000px;
    position: absolute;
    top: 120px;
    left: 85px;
    z-index: 9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-height: 120px;
    max-width: 120px;
}

div div .jk{
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 60px;
    left: 90px;
    
    
}

.card3 .corazonjk {
    position: absolute;
    top: 20px;
    left: 19px;
    
}

footer {
    background:#00669F;
    color: white;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}